@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'MyWebFont';
  src: url('happy-times-at-the-ikob-webfont.woff') format('woff');
}

p { font-family: 'MyWebFont', Arial, sans-serif; }
html,body{
	font-family: 'MyWebFont', Arial, sans-serif;
	height: 100%;
	width: 100%;
	color: #222;
}
.background img{
	width: 100%;
	height: 100%;
}
.carousel-inner img
{
	width: 100%;
	height: 100vh;
}
.text
{   
	text-align:left;
	font-size: 42px;
}

.place 
{
	
	font-size: 26px;
}
/*BRIGHTEN*/
 .brighten img {
       -webkit-filter: brightness(60%);
       -webkit-transition: all 1s ease;
       -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
       -ms-transition: all 1s ease;
       transition: all 1s ease;
 }
 .brighten img:hover {
       -webkit-filter: brightness(100%);
 } 
.row {
        width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
}
.img-round{
  border-radius: 30px;
}
.scroll-down
{
	height: 50px;
    width: 30px;
    border: 2px solid #dabb68;
    position: absolute;
    left: 80%;
    bottom:0px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #dabb68;
  border-top: transparent;/* from square to triangle */
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}
@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

.social a
{
	
	font-size: 4.5em;
	padding: 3rem;
	
}

/*color icons*/

.fa-facebook{color: #3b5998;}
.fa-github{color: #4284c0;}
.fa-linkedin{color: #006599;}
.fa-instagram{color: ##517fa4;}
.fa-codepen{color: #000;}

.fa-facebook:hover,
.fa-codepen:hover,
.fa-github:hover,
.fa-instagram:hover,
.fa-linkedin:hover{color: #d5d5d5;}
footer
{
	background-color: #262626;
	color:#F2B680;
	padding-top: 2rem;
}