@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'MyWebFont';
  src: url('happy-times-at-the-ikob-webfont.woff') format('woff');
}

p 
{
	font-family: 'MyWebFont', Arial, sans-serif; 
   font-size: 22px;
}
.name
{
   font-family: 'MyWebFont', Arial, sans-serif; 
   font-size: 39px;
	color: #262626;
}
html,body{
	font-family: 'MyWebFont', Arial, sans-serif;
	height: 100%;
	width: 100%;
	color: #222;
}
.row
{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}
.img-round{
  border-radius: 30px;

}
footer{
	background-color: #262626;
	color:#F2B680;
	
	
}
.email{ text-align: center;}
span.color{color:#F2B680;}